<!-- Begin Metu-CCM Section-->
<section id="metu-ccm" class="team">
    <div class="content-wrapper">
        <div class="text-left col-lg-6 col-lg-offset-3 text-center">
            <p align="left">
            {{ site.data.[site.lang].metu-ccm.metu-ccm.text1 }}<br>
            </p>
            <p align="left">
            {{ site.data.[site.lang].metu-ccm.metu-ccm..text2 }}<br>
            Tel +90 312 210 4151<br>
            Fax +90 312 210 1008<br>
            E-mail: kkm@metu.edu.tr<br>
            Web: <a href="http://www.ccc.metu.edu.tr">www.ccc.metu.edu.tr</a><br></p>
            <iframe src="http://maps.google.com/maps/ms?hl=tr&amp;ptab=0&amp;ie=UTF8&amp;oe=UTF8&amp;msa=0&amp;msid=202473834368295885268.0004b73879243fc9db968&amp;t=h&amp;vpsrc=6&amp;ll=39.898313,32.783074&amp;spn=0.011523,0.023603&amp;z=15&amp;iwloc=0004b7387cc40aeb2d636&amp;output=embed" width="550" height="550" frameborder="0" marginwidth="0" marginheight="0" scrolling="no"></iframe>
            <h4>{{site.data.[site.lang].metu-ccm.metu-ccm.text3 }}</h4>
            <p align="left">
            {{ site.data.[site.lang].metu-ccm.metu-ccm.text4 }}<br>
            </p>
            <img src="{{ site.baseurl_root }}/img/ankara/minibus.png" title="" alt="">
        </div>
    </div>
</section>
<!-- End Metu-CCM Section -->
