.top-section-hero {
    width: 100%;
    min-height: 75%;
    padding-top: 0;
    .jumbotron {
        font-weight: 300;
        h1 {
            font-weight: inherit;
            margin: 0;
        }
        h3 {
            @media (max-width: 767px) {
                padding: 0;
            }
        }
        p {
            font-size: $base-font-size * 2;
            font-weight: inherit;
            margin-bottom: 15px;
        }
        .slogan {
            font-size: 38px;
            margin: 0 0 10px;
            font-weight: inherit;
        }
        .btn {
            margin: 0 3px;
        }
    }
}

.typeout-fallback {
    display: none;
    @media (max-width: 767px) {
        display: inline-block;
    }
}

.explore {
    top: 30px;
    position: relative;
    animation: callToAction 3.5s linear 0s infinite;
    @media (max-width: 767px) {
        top: -5px;
        animation: none;
    }
}

.icon-arrow-down {
    width: 32px;
    height: 32px;
    fill: #e6e6e6;
    @media (max-width: 767px) {
        width: 24px;
        height: 24px;
    }
}

@keyframes callToAction {
    0% {
        opacity: 0;
        transform: translateY(-16px);
    }
    25% {
        opacity: 1;
        transform: translateY(0);
    }
    75% {
        opacity: 1;
        transform: translateY(0);
    }
    85% {
        opacity: 0;
        transform: translateY(-16px);
    }
    100% {
        opacity: 0;
        transform: translateY(-16px);
    }
}

.hero-sponsors {
    margin-top: 20px;
    @media (max-width: 767px) {
        margin-top: 50px;
    }
    img {
        margin: 5px 0;
        max-width: 150px;
        max-height: 100px;
    }
}
