<!-- Begin Communities Section -->
<section id="communities" class="partners">
    <div class="content-wrapper">
        <div class="col-lg-10 col-lg-offset-1">
            {% for community in site.data.[site.lang].communities.communities-data %}
            <ul class="list-inline">
                {% for element in community.elements %}
                <li {% if element.width != null %}style="width: {{ element.width }};"{% endif %}>
                    <a href="{{ element.link }}" target="_blank">
                        <img src="{{ site.baseurl_root }}/img/communities/{{ element.imageUrl }}" title="{{ element.description }}" alt="{{ element.name }}">
                    </a>
                </li>
                {% endfor %}
            </ul>
            {% endfor %}
        </div>
    </div> 
</section>
<!-- End Communities Section -->

