<!-- Begin Banners For Supporters Section -->
<section id="banners-for-supporters" class="banners-for-supporters">
    <div class="content-wrapper">
        <div class="col-lg-10 col-lg-offset-1">
            {% for banners in site.data.[site.lang].banners-for-supporters.banners-data %}
            <ul class="list-inline">
                {% for element in banners.elements %}
                <li {% if element.width != null %}style="width: {{ element.width }}px;"{% endif %}>
                    <a href="{{ site.baseurl_root }}/img/banners-for-supporters/{{ element.imageUrl }}" target="_blank">
                        <img src="{{ site.baseurl_root }}/img/banners-for-supporters/{{ element.imageUrl }}" title="{{ element.size }}">
                         <p class="sub-text">{{ element.size }}</p>
                    </a>
                </li>
                {% endfor %}
            </ul>
            {% endfor %}
        </div>
    </div>
</section>
<!-- End Banners For Supporters Section -->

