<!-- Begin Organizers Section -->
<section id="organizers" class="partners">
    <div class="content-wrapper">
        <div class="col-lg-10 col-lg-offset-1">
            <h3>{{ site.data.[site.lang].index.organizers.title }}</h3>
            {% for organizer in site.data.[site.lang].organizers.organizers-data %}
            {% if organizer.showIndex %}
            <h5>{{ organizer.group }}</h5>
            <ul class="list-inline">
                {% for element in organizer.elements %}
                <li {% if element.width != null %}style="width: {{ element.width }};"{% endif %}>
                    <a href="{{ element.link }}" target="_blank">
                        <img src="{{ site.baseurl_root }}/img/organizers/{{ element.imageUrl }}" title="{{ element.description }}" alt="{{ element.name }}">
                    </a>
                </li>
                {% endfor %}
            </ul>
            {% endif %}
            {% endfor %}
            <a href="{{ '/organizers' | prepend: site.baseurl }}" class="btn btn-primary waves-effect waves-button waves-light waves-float">{{ site.data.[site.lang].index.organizers.showOrganizersButton }}</a>
        </div>
    </div> 
</section>
<!-- End Organizers Section -->

